*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.title{
    width: 100%;
    border: 2px solid black;
    text-align: center;
    background-color: white;
}
.add-todo{
    width: 80%;
    background-color: white;
    height: 90vh;
    margin: auto;
    text-align: center;
    border-radius: 10px;
}
.add-todo button{
    height: 5%;
    width: 20%;
}