*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    width: 100%;
    border-bottom: 2px solid green;
    text-align: center;
}
.title h1{
    font-size: 100px;
}
.content-body{
    background-color: blueviolet;
    height: 89vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.todo-container{
    width: 40vw;
    height: 80vh;
    background-color: white;
}